body{
    background-color:#ecf0f1;
    color: white;
    font-family: 'Gamja Flower', cursive;
    font-size: 40px;
    /*
    position: relative;
    width: 100%;
    height: 100%;
    */
  }

.whole {   /*가운데 배치하기 위해서*/
  /*
  position: absolute;
  top: 50%;
  left: 50%;
  margin:-150px 0 0 -150px;*/
    
  position:absolute; left: 50%;
  transform: translateX(-50%);
  width: 600px;
  padding-top: 10%;
  padding-bottom: 5%;
  /*
  position:absolute; top: 20%; left: 50%; bottom:10% //bottom은 적용 안됐음
  margin-left:-300px;
  width: 600px;
  height: 900px;
  */


  /*text-align: center;*/
  /*margin-top:-150px;*/
  /*transform:translate(-50%, -50%);*/
  }

.js-line {
  border: 2px solid #d9d9d9;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 450px;
  /*
  position: absolute;
  left: 10px;
  */
  margin: 0 75px 0 75px;
}

/*
.js-toDoForm {*/
  /*padding: 0 60px 0 60px;*/
  /*
  text-align: center;
  border-bottom: 3px solid #ededed;
}*/

.js-toDoInput {
  text-align: center;
  border-bottom: 3px solid #ededed;
  padding: 16px 16px 16px 16px;
  /*margin: 0 20% 0 20%;*/
}
  
.btn {
    cursor: pointer;
}

h1{
    color: #82589F;
    font-size: 115px;
    font-family: 'Archivo', sans-serif;
    line-height: 0px;
    text-align: center;
  }
  
.js-weather {
  line-height: 0px;
  text-align: center;
}

h4{
  text-align: center;
}

ul{
  /*text-align: center;*/
  margin: 0;
  /*margin: 10px 0 0 0;*/
  padding: 0;
}
li{
  position: relative;
  font-size: 22px;
  list-style: none;
  border-bottom: 1px solid #ededed;
  /*display: list-item;*/
}

/*잠시 지워놓을게
button {
  padding: 0;
  border: none;
  background: none;
  display: none;
}
*/
/*
.toDoView:hover .button {
  visibility: visible;
}
*/

.toDoView {
  display: block;

}

input[type="text"] {
  border: none;
  /*background: transparent;*/
  /*text-decoration: underline;*/
  font-size: 25px;
  color: black;
  text-align: center;
  /*border-bottom: 1px solid #ededed;*/
  background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::placeholder{
  color: black;
  font-family: 'Archivo', sans-serif;
}
  
.form,
.greetings {
  display: none;
  line-height: 0px;
}

.showing{
  display: block;
  line-height: 0px;
}


input[type="checkbox"] {
  /*
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;*/
  appearance: none;
  opacity: 0;
  background: none;
  text-align: center;
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto 0;
  border: none;
  box-sizing: border-box;
  -webkit-appearance: none;
}

input[type="checkbox"] + label {
  /*
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(images/checkbox.svg) left top no-repeat;
  cursor: pointer;
  background-size: cover;
  */
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
}

input[type="checkbox"]:checked + label {
  /*background: url(images/checkbox.svg) -26px top no-repeat;*/
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  /*background-size: cover;*/
}

label {
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.delBtn {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: none;
  background: none;
}

.delBtn:hover {
  visibility: visible;
}

.delBtn:after {
  visibility: visible;
}

li:hover .delBtn{
  display: block;
  visibility:visible
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/*배경 이미지 load*/
.bgImage{
  background-attachment: fixed;
  /*position: absolute;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;  /*글이 맨 앞으로 나오도록 하기 위해*/
  animation: fadeIn 0.5s linear;
}  